@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
	background: url(images/bagg_staffordshire_blue.jpg) repeat;
	background-size: 50px 50px;
}

#mainContainer {
	width: 1120px;
	margin: 0 auto;
	padding: 0;
	border: 1px solid;
}

.maverikLogo {
	width: 150px;
	height: 85px;
}

.logoutImg {
	width: 28px;
	height: 28px;
}

.profileInfo {
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
}

.profileInfo:hover {
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	color: #ff0000;
}

.dateTime {
	font-size: 13px;
}

.mainHeader {
	/* 	background: #305183 url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) repeat-x left top; */
	background: rgba(38, 117, 192, 1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(38, 117, 192, 1)
		0%, rgba(38, 117, 192, 1) 36%, rgba(32, 93, 162, 1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(0%, rgba(38, 117, 192, 1)),
		color-stop(36%, rgba(38, 117, 192, 1)),
		color-stop(100%, rgba(32, 93, 162, 1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(38, 117, 192, 1)
		0%, rgba(38, 117, 192, 1) 36%, rgba(32, 93, 162, 1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(38, 117, 192, 1)
		0%, rgba(38, 117, 192, 1) 36%, rgba(32, 93, 162, 1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(38, 117, 192, 1)
		0%, rgba(38, 117, 192, 1) 36%, rgba(32, 93, 162, 1) 100%);
	background: radial-gradient(ellipse at center, rgba(38, 117, 192, 1) 0%,
		rgba(38, 117, 192, 1) 36%, rgba(32, 93, 162, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2675c0',
		endColorstr='#205da2', GradientType=1);
	width: 1120px;
	height: 110px;
}

.logo {
	float: left;
	margin: 5px;
	padding: 5px 10px 5px 10px;
}

.profileDetails {
	color: #ffffff;
	text-align: right;
	float: right;
	width: 300px;
	height: 110px;
	padding: 10px;
	line-height: 4px;
}

.contentContainer {
	background: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #19130D;
	margin: 0px auto;
	padding: 12px 20px 12px 20px;
	width: 1080px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

/* Menu */
.menu {
	padding: 0;
	position: relative;
	background: #305183;
	width: 1120px;
	height: 45px;
	font-weight: bold;
}

#cssmenu ul, #cssmenu li, #cssmenu span, #cssmenu a {
	margin: 0;
	padding: 0;
	position: relative;
}

#cssmenu {
	line-height: 1;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	width: auto;
}

#cssmenu:after, #cssmenu ul:after {
	content: '';
	display: block;
	clear: both;
}

#cssmenu a {
	color: #ffffff;
	display: block;
	padding: 19px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
}

#cssmenu ul {
	list-style: none;
}

#cssmenu>ul>li {
	display: inline-block;
	float: left;
	margin: 0;
}

#cssmenu.align-center {
	text-align: center;
}

#cssmenu.align-center>ul>li {
	float: none;
}

#cssmenu.align-center ul ul {
	text-align: left;
}

#cssmenu.align-right>ul {
	float: right;
}

#cssmenu.align-right ul ul {
	text-align: right;
}

#cssmenu>ul>li>a {
	color: #ffffff;
	font-size: 12px;
}

#cssmenu>ul>li:hover:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	left: 50%;
	bottom: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #000099;
	margin-left: -10px;
}

#cssmenu>ul>li:first-child>a {
	border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
}

#cssmenu.align-right>ul>li:first-child>a, #cssmenu.align-center>ul>li:first-child>a
	{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

#cssmenu.align-right>ul>li:last-child>a {
	border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
}

#cssmenu>ul>li.active>a, #cssmenu>ul>li:hover>a {
	
}

#cssmenu .has-sub {
	z-index: 1;
}

#cssmenu .has-sub:hover>ul {
	display: block;
}

#cssmenu .has-sub ul {
	display: none;
	position: absolute;
	width: 200px;
	top: 100%;
	left: 0;
}

#cssmenu.align-right .has-sub ul {
	left: auto;
	right: 0;
}

#cssmenu .has-sub ul li {
	*margin-bottom: -1px;
}

#cssmenu .has-sub ul li a {
	background: #000099;
	border-bottom: 1px dotted #31b7f1;
	font-size: 11px;
	filter: none;
	display: block;
	line-height: 120%;
	padding: 10px;
	color: #ffffff;
}

#cssmenu .has-sub ul li:hover a {
	background: #0c7fb0;
}

#cssmenu ul ul li:hover>a {
	color: #ffffff;
}

#cssmenu .has-sub .has-sub:hover>ul {
	display: block;
}

#cssmenu .has-sub .has-sub ul {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
}

#cssmenu.align-right .has-sub .has-sub ul, #cssmenu.align-right ul ul ul
	{
	left: auto;
	right: 100%;
}

#cssmenu .has-sub .has-sub ul li a {
	background: #0c7fb0;
	border-bottom: 1px dotted #31b7f1;
}

#cssmenu .has-sub .has-sub ul li a:hover {
	background: #0a6d98;
}

#cssmenu ul ul li.last>a, #cssmenu ul ul li:last-child>a, #cssmenu ul ul ul li.last>a,
	#cssmenu ul ul ul li:last-child>a, #cssmenu .has-sub ul li:last-child>a,
	#cssmenu .has-sub ul li.last>a {
	border-bottom: 0;
}

/** FOOTER **/
.footer {
	background: rgba(51, 51, 51, 1);
	background: -moz-linear-gradient(top, rgba(51, 51, 51, 1) 0%,
		rgba(51, 51, 51, 1) 22%, rgba(89, 89, 89, 1) 58%,
		rgba(143, 143, 143, 1) 81%, rgba(156, 156, 156, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51, 51, 51,
		1)), color-stop(22%, rgba(51, 51, 51, 1)),
		color-stop(58%, rgba(89, 89, 89, 1)),
		color-stop(81%, rgba(143, 143, 143, 1)),
		color-stop(100%, rgba(156, 156, 156, 1)));
	background: -webkit-linear-gradient(top, rgba(51, 51, 51, 1) 0%,
		rgba(51, 51, 51, 1) 22%, rgba(89, 89, 89, 1) 58%,
		rgba(143, 143, 143, 1) 81%, rgba(156, 156, 156, 1) 100%);
	background: -o-linear-gradient(top, rgba(51, 51, 51, 1) 0%,
		rgba(51, 51, 51, 1) 22%, rgba(89, 89, 89, 1) 58%,
		rgba(143, 143, 143, 1) 81%, rgba(156, 156, 156, 1) 100%);
	background: -ms-linear-gradient(top, rgba(51, 51, 51, 1) 0%,
		rgba(51, 51, 51, 1) 22%, rgba(89, 89, 89, 1) 58%,
		rgba(143, 143, 143, 1) 81%, rgba(156, 156, 156, 1) 100%);
	background: linear-gradient(to bottom, rgba(51, 51, 51, 1) 0%,
		rgba(51, 51, 51, 1) 22%, rgba(89, 89, 89, 1) 58%,
		rgba(143, 143, 143, 1) 81%, rgba(156, 156, 156, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333',
		endColorstr='#9c9c9c', GradientType=0);
	width: 1120px;
	height: 60px;
}

.footer p {
	margin: 0;
	padding-top: 25px;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	color: #ffffff;
}

.footer a {
	font-weight: bold;
	color: #ffffff;
}

/* Table CSS */
.objList {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	display: table;
	width: 780px;
}

.tblRow {
	display: table-row;
}

.tblCol {
	display: table-cell;
	text-align: left;
	width: 20%;
	padding: 2px 3px 2px 2px;
	border-bottom: 2px dotted #000000;
}

.tblColHdr {
	display: table-cell;
	text-align: left;
	width: 20%;
	font-weight: bold;
	border-bottom: medium solid #000000;
	padding: 2px 4px 2px 4px;
}

.objListDetails {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	display: table;
	width: 850px;
}

.tblRowDetails {
	display: table-row;
}

.tblColDetails {
	display: table-cell;
	text-align: left;
	width: 150px;
	padding: 3px 1px 1px 2px;
}

.tblColBoxDetails {
	display: table-cell;
	text-align: left;
	width: 350px;
	padding: 3px 1px 1px 2px;
}

.tblColErrorDetails {
	display: table-cell;
	text-align: left;
	width: 350px;
	padding: 3px 1px 1px 2px;
}

.genericBox {
	text-align: left;
	width: 320px;
}

/* Button CSS */
.bttnNormal {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2
		), color-stop(1, #476e9e));
	background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2',
		endColorstr='#476e9e', GradientType=0);
	background-color: #7892c2;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #4e6096;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 10px;
	padding: 3px 8px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #283966;
}

.bttnNormal:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e
		), color-stop(1, #7892c2));
	background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e',
		endColorstr='#7892c2', GradientType=0);
	background-color: #476e9e;
}

.bttnNormal:active {
	position: relative;
	top: 1px;
}

.bttnCaution {
	-moz-box-shadow: 0px 0px 0px 2px #f09eac;
	-webkit-box-shadow: 0px 0px 0px 2px #f09eac;
	box-shadow: 0px 0px 0px 2px #f09eac;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c27882
		), color-stop(1, #9c4646));
	background: -moz-linear-gradient(top, #c27882 5%, #9c4646 100%);
	background: -webkit-linear-gradient(top, #c27882 5%, #9c4646 100%);
	background: -o-linear-gradient(top, #c27882 5%, #9c4646 100%);
	background: -ms-linear-gradient(top, #c27882 5%, #9c4646 100%);
	background: linear-gradient(to bottom, #c27882 5%, #9c4646 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c27882',
		endColorstr='#9c4646', GradientType=0);
	background-color: #c27882;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #944d57;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 10px;
	padding: 3px 8px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #662929;
}

.bttnCaution:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9c4646
		), color-stop(1, #c27882));
	background: -moz-linear-gradient(top, #9c4646 5%, #c27882 100%);
	background: -webkit-linear-gradient(top, #9c4646 5%, #c27882 100%);
	background: -o-linear-gradient(top, #9c4646 5%, #c27882 100%);
	background: -ms-linear-gradient(top, #9c4646 5%, #c27882 100%);
	background: linear-gradient(to bottom, #9c4646 5%, #c27882 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c4646',
		endColorstr='#c27882', GradientType=0);
	background-color: #9c4646;
}

.bttnCaution:active {
	position: relative;
	top: 1px;
}

.bttnSpecialAction {
	-moz-box-shadow: 0px 1px 0px 0px #35c40e;
	-webkit-box-shadow: 0px 1px 0px 0px #35c40e;
	box-shadow: 0px 1px 0px 0px #35c40e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #36c95d), color-stop(1, #5a8242));
	background:-moz-linear-gradient(top, #36c95d 5%, #5a8242 100%);
	background:-webkit-linear-gradient(top, #36c95d 5%, #5a8242 100%);
	background:-o-linear-gradient(top, #36c95d 5%, #5a8242 100%);
	background:-ms-linear-gradient(top, #36c95d 5%, #5a8242 100%);
	background:linear-gradient(to bottom, #36c95d 5%, #5a8242 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36c95d', endColorstr='#5a8242',GradientType=0);
	background-color:#36c95d;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #18f02d;
	display:inline-block;
	cursor:pointer;
	color:#f5f5f5;
	font-family:Arial;
	font-size:10px;
	padding:3px 9px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3c8731;
}
.bttnSpecialAction:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5a8242), color-stop(1, #36c95d));
	background:-moz-linear-gradient(top, #5a8242 5%, #36c95d 100%);
	background:-webkit-linear-gradient(top, #5a8242 5%, #36c95d 100%);
	background:-o-linear-gradient(top, #5a8242 5%, #36c95d 100%);
	background:-ms-linear-gradient(top, #5a8242 5%, #36c95d 100%);
	background:linear-gradient(to bottom, #5a8242 5%, #36c95d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a8242', endColorstr='#36c95d',GradientType=0);
	background-color:#5a8242;
}
.bttnSpecialAction:active {
	position:relative;
	top:1px;
}

.bttnAction {
	-moz-box-shadow:inset 0px 1px 3px 0px #9ea3a2;
	-webkit-box-shadow:inset 0px 1px 3px 0px #9ea3a2;
	box-shadow:inset 0px 1px 3px 0px #9ea3a2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #39423f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	padding:8px 10px;
	text-decoration:none;
	text-shadow:0px -1px 0px #17544b;
}
.bttnAction:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.bttnAction:active {
	position:relative;
	top:1px;
}

/*
.urlSite {
	text-decoration: none;
	display: block;
	color: #380000;
}

a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}
*/

/* Login Box */
.loginError {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
 
.loginMsg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
 
#login-box {
	width: 300px;
	padding: 20px;
	margin: 70px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 2px solid #000;
}

.forgotPassLink {
	color: #660000;
	text-decoration: none;
}

.forgotPassLink:hover {
	color: #FF0000;
	text-decoration: none;
}

/* Access Denied */

.accessDeniedImg {
	height: 200x;
	width: 300px;
}

.accessDeniedDiv{
	height: 200px;
	width: 300px;
	display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    left: 400px    
}

/* Menu background color */
.toggler .ui-accordion .ui-accordion-content {
	background: #264169;
}

.toggler .ui-accordion .ui-accordion-header {
	background: #264169;
}

/* nav menu header */
.projHeaderContainer {
	background: #264169;
	padding: 6px;
}

#effect {
	background: #486da4;
	border: 2px solid;
	border-color: #1f2549;
}

/* .open { */
/* 	height: 50px; */
/* 	width: 50px; */
/* } */

#buttonsAccordion {
	margin: 10px 30px; 
}

.open, .close {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:4px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.open:hover, .close:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.open:active, .close:active {
	position:relative;
	top:1px;
}

#buttonHide, #buttonShow {
	height: 30px;
	width: 30px;
	color: #1c94c4;
	background-color: #f0fbff;
}

.menuText {
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
}

/* boxContent & sidebar */
#boxContent {
	border: 1px solid;
	border-color: #a9a9a9;
	width: 100%;
	padding: 5px;
}

#sidebar {
	display: none;
}

/* Notes */
.eachNote {
	border-bottom: 2px solid;
	border-bottom-style: none;
	border-bottom-color: #888888;
	border-top: 2px solid;
	border-top-style: dotted;
	border-top-color: #888888;
	padding: 4px;
	margin-top: 0px;
}

.notesContainer {
	border: none;
	width: 100%;
	/*border-color: #888888;*/
}

.noteUser {
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color: #3136fd;
	width: 120px;
	margin: 0px;
}

.noteAddTime {
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	width: 120px;
}

.noteUserInfoContainer {
	padding: 7px 4px 7px 4px;
	width: 340px;
}

.notesDiv {	
	z-index: 10;
	top: 0;
  	left: 0;	
}

.noteTitle {
	position: absolute;
	top: -10px;
  	left: 15px;
	background-color: #ffffff;
	font-size: 18px;
	font-weight: bold;
}

.divNoteContainer {
	border-style: solid;
	border-width: 2px;
	border-color: #d3d5e9;
	width: 60%;
	padding: 7px;
	position: relative;
}

/* Messages format */
.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
 
.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

/* Error Validation */
.errorValMsg {
	color: #ff0000;
}

/* Delete Confirmation Box */
.ui-widget-content {
	color: #000000;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	color: #3190ff;
	background: #c4c4c4 url("images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #fbcb09;
	background: #fdf5ce url("images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x;
	font-weight: bold;
	color: #c77405;
}

/*Administration button styles*/
.propertyAdminBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c0c8db), color-stop(1, #f2f2f2));
	background:-moz-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-webkit-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-o-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-ms-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:linear-gradient(to bottom, #c0c8db 5%, #f2f2f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c8db', endColorstr='#f2f2f2',GradientType=0);
	background-color:#c0c8db;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #e3e3e3;
	display:inline-block;
	cursor:pointer;
	color:#303030;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.propertyAdminBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #c0c8db));
	background:-moz-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-webkit-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-o-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-ms-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:linear-gradient(to bottom, #f2f2f2 5%, #c0c8db 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#c0c8db',GradientType=0);
	background-color:#f2f2f2;
}
.propertyAdminBtn:active {
	position:relative;
	top:1px;
}

.roleAdminBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c0c8db), color-stop(1, #f2f2f2));
	background:-moz-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-webkit-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-o-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-ms-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:linear-gradient(to bottom, #c0c8db 5%, #f2f2f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c8db', endColorstr='#f2f2f2',GradientType=0);
	background-color:#c0c8db;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #e3e3e3;
	display:inline-block;
	cursor:pointer;
	color:#303030;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.roleAdminBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #c0c8db));
	background:-moz-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-webkit-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-o-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-ms-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:linear-gradient(to bottom, #f2f2f2 5%, #c0c8db 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#c0c8db',GradientType=0);
	background-color:#f2f2f2;
}
.roleAdminBtn:active {
	position:relative;
	top:1px;
}

.companyAdminBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c0c8db), color-stop(1, #f2f2f2));
	background:-moz-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-webkit-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-o-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-ms-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:linear-gradient(to bottom, #c0c8db 5%, #f2f2f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c8db', endColorstr='#f2f2f2',GradientType=0);
	background-color:#c0c8db;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #e3e3e3;
	display:inline-block;
	cursor:pointer;
	color:#303030;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 3px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.companyAdminBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #c0c8db));
	background:-moz-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-webkit-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-o-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-ms-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:linear-gradient(to bottom, #f2f2f2 5%, #c0c8db 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#c0c8db',GradientType=0);
	background-color:#f2f2f2;
}
.companyAdminBtn:active {
	position:relative;
	top:1px;
}

.projectAdminBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c0c8db), color-stop(1, #f2f2f2));
	background:-moz-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-webkit-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-o-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-ms-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:linear-gradient(to bottom, #c0c8db 5%, #f2f2f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c8db', endColorstr='#f2f2f2',GradientType=0);
	background-color:#c0c8db;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #e3e3e3;
	display:inline-block;
	cursor:pointer;
	color:#303030;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.projectAdminBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #c0c8db));
	background:-moz-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-webkit-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-o-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-ms-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:linear-gradient(to bottom, #f2f2f2 5%, #c0c8db 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#c0c8db',GradientType=0);
	background-color:#f2f2f2;
}
.projectAdminBtn:active {
	position:relative;
	top:1px;
}

.usersAdminBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c0c8db), color-stop(1, #f2f2f2));
	background:-moz-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-webkit-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-o-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:-ms-linear-gradient(top, #c0c8db 5%, #f2f2f2 100%);
	background:linear-gradient(to bottom, #c0c8db 5%, #f2f2f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0c8db', endColorstr='#f2f2f2',GradientType=0);
	background-color:#c0c8db;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #e3e3e3;
	display:inline-block;
	cursor:pointer;
	color:#303030;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.usersAdminBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #c0c8db));
	background:-moz-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-webkit-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-o-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:-ms-linear-gradient(top, #f2f2f2 5%, #c0c8db 100%);
	background:linear-gradient(to bottom, #f2f2f2 5%, #c0c8db 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#c0c8db',GradientType=0);
	background-color:#f2f2f2;
}
.usersAdminBtn:active {
	position:relative;
	top:1px;
}

/*Admin buttons*/
.divAdminButton {
	padding-top: 8px;
}

/*
.adminButtonContainer {
	text-align: center;
	width: 400px;
	margin-left: 110px;
}*/

/*Property Navigation box*/
.projNavHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #F0F8FF;
	text-align: left;
	font-weight: bold;
}

.projNavBody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #F0F8FF;
	text-align: left;;
	padding-top: 3px;
}

.projectNewPhase {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000000;
}

.projectNewPhaseContainer {
	padding-left: 8px;
}

/* Project Table CSS */
.projectList {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	display: table;
	width: 780px;
}

.projectTblRow {
	display: table-row;
}

.projectTblCol {
	display: table-cell;
	text-align: left;
	width: 20%;
	padding: 2px 3px 2px 2px;
	border-bottom: 2px dotted #000000;
}

.projectTblColHdr {
	display: table-cell;
	text-align: left;
	width: 20%;
	font-weight: bold;
	padding: 3px 4px 3px 4px;
	background-color: #B2E5FF;
}

.projectContractPhase {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000000;
}

.projectPermittingPhase {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000000;
}

.projectPreConsPhase {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000000;
}

.newPropertyDiv {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	color: #000000;
	text-align: right;
	padding-right: 10px;
}

.newPropertyImg {
	widows: 28px;
	height: 28px;
}

.projectNameLink {
	text-decoration: none;
	color: #0047B2;
}

/*sidebar menu*/
.accordion-expand-holder {
	margin: 10px 0;
}

.accordion-expand-holder .open, .accordion-expand-holder .close {
	margin: 0 10px 0 0;
}

.sidebar-at-left #sidebar {
	margin-right: 1%;
}

.sidebar-at-right #sidebar {
	margin-left: 1%;
}

.sidebar-at-left #boxContent, .use-sidebar.sidebar-at-right #sidebar,
	.sidebar-at-right #separator {
	float: right;
}

.sidebar-at-right #boxContent, .use-sidebar.sidebar-at-left #sidebar,
	.sidebar-at-left #separator {
	float: left;
}

.use-sidebar #boxContent {
	width: 73%;
}

.use-sidebar #sidebar {
	display: block;
	width: 23%;
}

#separator {
	background-color: #EEE;
	border: 1px solid #CCC;
	display: block;
	outline: none;
	width: 1%;
}

.use-sidebar #separator {
	border-color: #FFF;
}

.contractBox {
	width: 340px;
	border: 1px solid;
	border-color: #a9a9a9;
	padding: 5px;
}

/*property contract box*/
.tblMainContract {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	display: table;
	width: 790px;
}

.tblRowContract {
	display: table-row;
	padding-right: 15px;
}

.tblContractTask {
	width: 740px;
}

.permittingFirstSection {
	display: table;
	width: 100%;
}

.tblColContract {
	display: table-cell;
	text-align: left;
	width: 20%;
	padding: 2px 3px 2px 2px;
}

/*side menu elements*/
.ui-widget-content a {
	font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 17px;
	color: #F0F8FF;
	text-align: left;;
	padding-top: 3px;
	text-decoration: none;
}

/*tooltip*/
a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

.contractNoneTypeGroup {
	width: 50%;
}

.contractTypeGroup {
	width: 25%;
}

.contractTypeRadio {
	display: table;
	width: 780px;
}

/*Permitting Radio buttons header, style, body */

.tblColPermitting {
	display: table-cell;
	text-align: left;
	width: 15%;
	padding: 2px 3px 2px 2px;
}

.radioHdrFormatt {
	background-color: #bab8b8;	
}

/*Meetings and approvals styles*/
.meetingsContainer {
	display: table;
	width: 90%;
}

.meetingRow {
	display: table-row;
}

.meetingEndRow {
	border-bottom: thin;
	border-bottom-style: solid;
	border-bottom-color: gray;
}

.meetingCol {
	display: table-cell;
	text-align: left;
	width: 6%;
	padding: 2px 2px 2px 2px;
}

.meetingCheckboxes {	
	font-weight: bold;
	color: #000000;
	display: table-cell;
	width: 30%;
	text-align: left;
	padding: 2px 2px 2px 2px;	
}

.meeetingImportantMsg {
	display: table-cell;
	width: 90%;
	text-align: left;
	padding: 2px 2px 2px 2px;
}

.meetingsFont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.meetingsDetails {
	display: table-cell;
	width: 5%;
	text-align: left;
}

.meetingPaddings {
	padding: 10px 2px 10px 2px;
}

.meetingsName {
	display: table-cell;
	width: 75%;
	text-align: left;
	padding: 2px 2px 2px 2px;
}

.meetingsNotes {
	display: table-cell;
	width: 75%;
	text-align: left;
	vertical-align: middle;
	padding: 2px 2px 2px 2px;
}

.taskContactTable {
	display: table;
	width: 90%;
}

.taskContactRow {
	display: table-row;
}

.taskContactColumn {
	display: table-cell;
	width: 10%;
	text-align: left;
}

.taskContactHeader {
	font-weight: bold;
}

.create-task-tbl {
	display: table;
	width: 80%;
}

.create-task-row {
	display: table-row;
}

.create-task-column {
	display: table-cell;
}

#create-new {
	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.fa-plus {
	color: #3190ff;
}

.accordeon-header-font {
	color: #ffffff;
}

#create-new-contact {
	color: #000000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.normal-table {
	display: table;
	width: 90%;
}

.normal-row {
	display: table-row;
}

.normal-column {
	display: table-cell;
	width: 10%;
	text-align: left;
}

.header-tbl {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
}

.gray-header-tbl {
	background-color: #bfbfbf;
}

.link-formatter {
	color: #09294c;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}